@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');


html,body {
  margin:0; padding:0; height:100%;
}

/*body align center*/

html, body {
	height: 100%;
	width:100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
 
}

.header {
	position: absolute;
   width:100%;
 font-family: 'Nanum Brush Script'; font-weight: bold; color: #ff7846; font-size: 110px;
  margin: 50px auto 0%;
   text-align:center;
}
nav{
	text-align:center;
}

.nav {
  margin: 200px auto 0%;
  width:100%; 
  position: absolute;
  font-size: 30px;
  padding-bottom: -2px;
  border-bottom: 2px double #000000;
  
}
.active{
   text-shadow: 0px 0px 3px #695d46;
}
.nav li{
  display: inline;
  list-style-type: none;
   padding:0 35px;
}
.nav li a {
 
  letter-spacing:-2px;
  color:#695d46;
  text-decoration: none;
  
}
.nav li a:hover {
   color: #feefe7;
   text-shadow: 0px 0px 3px #695d46;
}

.menu{
	 
  margin: 205px auto 0px;
  width:100%; 
  position: absolute;

  font-size: 20px;

  
}
.menu li{
	display: inline;
	 list-style-type: none;
	 padding:0 30px; 
}
.menu li a{
	color:#333333;
	text-decoration: none;
}
.menu li a:hover{
	color: #feefe7;
   text-shadow: 0px 0px 3px #695d46;
}
div.login{

	width:100%;
	margin: 10px 0%;
}

div p a {
  text-decoration: none;
  color: black;
}
div p a:hover {
  color: #ff7846;
}
div div a {
  text-decoration: none;
  color: black;
}
div div a:hover {
  color: #ff7846;
}

 .carousel-inner > .item > img {
      top: 0;
      left: 0;
	  width:800px;
	  height:500px;
    } 
.section {
	background:pink;
  width:800px; height:500px;
  position:absolute;
  margin-top:250px;
  text-align:center;
  vertical-align:middle;
  left:50%;
  margin-left:-400px;
}
.carou{
	
	width:1200px; height:600px;
	position:absolute;
	margin-top:230px;
	left:50%;
  	margin-left:-600px;
	text-align:center;
	verticarl-align:middle;
	
}

.footer {
  width:100%; clear: both;
  height:7%;
  margin: 1100px auto 0%;
  color: #8C8C8C;
  position:absolute;
}